@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 300, 400, 500, 600, 800, 900;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/sofiapro-light.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Barlow|BioRhyme|Cuprum|DM+Sans|Lato:400,700|Montserrat:300,400,600|Muli|Oswald:300|Raleway:200,300,400,500,600,700|Rubik|Source+Code+Pro|Source+Sans+Pro&display=swap");
* {
  font-family: "Product Sans";
  outline: none;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}
button {
  cursor: pointer;
}
nav {
  width: 100%;
  background: transparent;
  height: 70px;
  position: relative;
  z-index: 9;
  box-shadow: 1px 1px 10px rgba(51, 51, 51, 0.11);
}
.nav__container {
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  background-color: transparent;
  align-items: center;
  width: 95%;
  margin: 0px auto;
}
.logo {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}
.menu {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: left;
}
.icons {
  grid-column: 3/4;
  grid-row: 1/2;
}
.logo img {
  width: 150px;
  cursor: pointer;
}
.menu__mobile {
  display: none;
}
.menu a {
  padding: 10px;
  margin: 0px 10px;
  font-size: 0.8rem;
  font-weight: 900;
  text-decoration: none;
  color: rgb(63, 63, 63);
}
.icons {
  justify-self: flex-end;
}
.icons a {
  margin: 0px 10px;
}

/*========SECTION MAIN BANNER=========*/

.main__banner {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 4fr;
  background-color: brown;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: #eeeeee;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.img__model {
  margin-top: 5vh;
  height: auto;
  display: grid;
  justify-self: right;
}
.main__banner img {
  margin: 0px 20px;
  max-width: 450px;
  height: auto;
  align-self: flex-end;
}
.main__slogan {
  position: relative;
  top: -100px;
  position: relative;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}
.main__slogan h6 {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.main__slogan h1 {
  font-size: 4.4rem;
}
.main__slogan h2 {
  font-size: 3.2rem;
}
.main__slogan p {
  font-size: 1.3rem;
  padding: 5px;
}
.main__slogan button {
  padding: 15px 20px;
  margin-top: 10px;
  border: 1px solid #333;
  background-color: #000;
  color: #fff;
}

/*DETAIL SECTION*/

.detail__section {
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.detail__section .info h1 {
  font-family: "Hurme Geometric Sans 3 Black";
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.detail__section .info p {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  padding: 10px 20px;
  line-height: 24px;
  color: rgb(82, 82, 82);
  word-spacing: 4px;
  letter-spacing: 1px;
}
.detail__section .info button {
  padding: 12px 20px;
  font-size: 14px;
  margin-top: 10px;
  border: 3px solid #000;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.detail__section .info {
  display: grid;
  align-items: center;
  justify-items: center;
}

/*GRID PRODUCTS*/
.grid__products {
  width: 95%;
  height: 100%;
  margin: 5vh auto;
  display: grid;
  justify-items: center;
}
.grid__products h2{
  font-size: 2rem;
  color: rgb(82, 82, 82);
}
.grid__products .content {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-column-gap: 20px;
}
.grid__products .card {
  border: 1px solid rgb(240, 240, 240);
  margin: 30px auto;
}
.grid__products .card .image img {
  width: 100%;
}
.info__card {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-row-gap: 10px;
  margin: 20px auto;
}
.info__card .title {
  color: rgb(134, 134, 134);
  padding: 15px auto;
  font-size: 1.4rem;
}
.card .image {
  position: relative;
}
.tag {
  position: absolute;
  background-color: rgb(61, 180, 107);
  color: #fff;
  font-size: 0.7rem;
  padding: 4px;
  border-radius: 4px;
  left: 10px;
  top: 10px;
}
.info__card .price {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.info__card .before {
  text-decoration: line-through;
  font-size: 0.9rem;
  justify-self: right;
  color: rgb(143, 143, 143);
  padding-right: 6px;
}
.info__card .now {
  justify-self: left;
  padding-left: 6px;
  font-weight: 700;
}
.grid__products .allProducts {
  margin: 10px;
  padding: 4px 20px;
  background-color: #fff;
  border: 3px solid #333;
  font-size: 1rem;
  font-weight: 600;
}

/* .grid__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  margin-bottom: 5vh;
}
.grid__products > div {
  position: relative;
  overflow: hidden;
}
.grid__products img {
  width: 100%;
}
.man {
  grid-column: 1/3;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.man .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/man.jpg");
  background-size: cover;
  transition: transform 1s;
}
.man .image:hover {
  transform: scale(1.05);
}
.titulo {
  font-family: "Lilita One", cursive;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.151) 1px 1px 4px;
}
.titulo p {
  font-family: "Lilita One", cursive;
  letter-spacing: 2px;
  word-spacing: 6px;
  font-weight: 100;
}
.titulo button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
}

.clothes {
  grid-column: 3/4;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.clothes .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/clothes.jpeg");
  background-size: cover;
  background-position: center;
  transition: transform 2s;
}
.clothes .image:hover {
  transform: scale(1.05);
}
.shoes {
  grid-column: 4/5;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.shoes .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/accessories.jpeg");
  background-size: cover;
  background-position: center;
  transition: transform 2s;
}
.shoes .image:hover {
  transform: scale(1.05);
}
.accessories {
  grid-column: 1/2;
  grid-row: 3/4;
  height: 100%;
  overflow: hidden;
}
.accessories .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/shoes.jpeg");
  background-size: cover;
  background-position: center;
  transition: transform 2s;
}
.accessories .image:hover {
  transform: scale(1.05);
}
.categori {
  grid-column: 2/3;
  grid-row: 3/4;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.categori .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/shoes.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 2s;
}
.categori .image:hover {
  transform: scale(1.05);
}
.woman {
  grid-column: 3/5;
  grid-row: 2/4;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.woman .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/woman.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.4s linear;
  transition: transform 2s;
}

.woman .image:hover {
  transform: scale(1.05);
} */

.grid__categories {
  display: grid;
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-shadow: rgba(0, 0, 0, 0) 1px 1px 3px;
}
.grid__categories h1 {
  font-family: "Sofia Pro", "Poppins";
  font-weight: 400;
}
.grid__categories button {
  font-family: "Product Sans";
}
.new__products {
  display: grid;
  align-items: center;
  grid-column: 1/3;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.new__products .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/nuevos.jpg");
  background-size: cover;
  transition: transform 1s;
  z-index: 9;
}

.info__text__one h1 {
  font-size: 2rem;
}
.info__text button {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
}
.info__text {
  width: 90%;
  height: 90%;
  margin: auto;
  display: grid;
  z-index: 999;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: #fff;
}
.info__text__one {
  transition: all 0.5s ease-in-out;
  grid-column: 1/3;
  grid-row: 1/3;
}
.info__text__two {
  transition: all 0.5s ease-in-out;
  grid-column: 3/4;
  grid-row: 1/2;
}
.info__text__two h1,
.info__text__three h1,
.info__text__four h1 {
  font-size: 1.4rem;
}
.info__text__three {
  transition: all 0.5s ease-in-out;
  grid-column: 4/5;
  grid-row: 1/2;
}
.info__text__four {
  transition: all 0.5s ease-in-out;
  grid-column: 3/5;
  grid-row: 2/3;
}
.info__text:hover {
  background-color: rgba(0, 0, 0, 0.692);
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.woman__products {
  grid-column: 3/4;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.woman__products .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/mujer.jpg");
  background-size: cover;
  transition: transform 1s;
}
.event__month {
  grid-column: 4/5;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.event__month .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/mujerDos.jpg");
  background-size: cover;
  transition: transform 1s;
}
.our__outfits {
  grid-column: 3/5;
  grid-row: 2/3;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.our__outfits .image {
  width: 100%;
  height: 100%;
  background-image: url("../image/illustrations/accesorios.jpg");
  background-size: cover;
  transition: transform 1s;
}

/*SECTION GIFTS*/
.gifts {
  margin: 10vh auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gifts .image_message {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px auto;
}
.gifts .image_message h3 {
  font-weight: 600;
  font-size: 2rem;
}
.gifts .image_message p {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.gifts .image_message img {
  width: 400px;
}
.gifts .animated__image {
  background-color: #000;
  display: grid;
  align-items: center;
  justify-items: center;
  color: #fff;
  padding: 20px auto;
}
.gifts .animated__image img {
  width: 80%;
  margin: 20px auto;
}
.gifts .animated__image h3 {
  font-weight: 600;
  font-size: 2rem;
}
.gifts .animated__image p {
  width: 70%;
  text-align: center;
  margin: auto;
}
.gifts .animated__image button {
  padding: 10px 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 12px;
}
.newsletter {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 60vh;
}
.newsletter h4 {
  font-size: 25px;
  font-weight: 800;
  padding: 10px;
}
.inputNewsletter {
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-column-gap: 10px;
}
.newsletter p {
  margin: 10px auto;
  padding: 30px auto;
  color: rgb(124, 124, 124);
}
.newsletter input {
  padding: 10px;
  width: 95%;
  font-size: 16px;
  margin: auto;
  border: none;
  border-bottom: 2px solid rgb(199, 199, 199);
  transition: all 0.5s ease-in-out;
}
.newsletter button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  background: rgb(245, 245, 245);
  border: none;
  border-bottom: 2px solid rgb(199, 199, 199);
  transition: all 0.5s ease-in-out;
}
.newsletter button:hover,
.newsletter input:hover {
  border-bottom: 2px solid #333;
  transition: all 0.5s ease-in-out;
}
footer {
  display: grid;
  justify-items: center;
}
footer .content {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.enterprise__info {
  font-size: 0.9rem;
}
.networking__sites {
  justify-self: flex-end;
}

@media screen and (max-width: 1200px) {
  nav {
    height: 50px;
  }
  .nav__container {
    grid-template-columns: 1fr 2fr 1fr;
    width: 95%;
  }
  .nav__container .menu {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  .menu__mobile {
    display: initial;
    grid-column: 1/2;
  }
}

@media screen and (max-width: 1024px){
  .grid__products .content{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 990px){
  .grid__categories {
    grid-template-columns: repeat(2, 1fr)!important;
    height: 100%;
    font-weight: 600;
  }
  .new__products{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    height: 100vh;
  }
  .info__text__one{
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .woman__products{
    grid-column: 1/2;
    grid-row: 3/4;
    height: 50vh;
  }
  .info__text__two{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .event__month{
    height: 50vh;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .info__text__three{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .our__outfits{
    height: 50vh;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .info__text__four{
    grid-column: 1/3;
    grid-row: 4/5;
  }
}

@media screen and (max-width: 768px) {

  /*MAIN BANNER*/
  .main__banner {
    grid-template-columns: 1fr;
    background-image: url("../image/illustrations/mobile-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: #fff;
  }
  .main__banner .img__model img {
    display: none;
  }
  .main__banner h6 {
    font-size: 0.7rem;
  }
  .main__banner h1 {
    font-size: 3.5rem;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  .main__banner h2 {
    line-height: 35px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 3.2rem;
  }
  .main__banner button {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
  }
  /*DETAIL SECTION*/

  .detail__section {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  .detail__section img {
    width: 80%;
  }

}
  /*GIFTS SECTION*/

  .gifts {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 90%;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .gifts .image_message p {
    width: 90%;
    margin: 10px;
    margin-bottom: 40px;
  }
  .gifts img {
    width: 250px !important;
  }
  .gifts .animated__image h3 {
    font-size: 1.8rem;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .gifts .animated__image p {
    width: 90%;
  }
  .gifts .animated__image button {
    padding: 10px;
    margin: 30px auto;
  }
  /*NEWSLETTER*/
  .inputNewsletter {
    grid-template-columns: 8fr 1fr;
    width: 95%;
    margin: 0 auto;
  }
  .inputNewsletter input {
    font-size: 0.8rem;
    margin: 2px;
    width: 90%;
  }
  .inputNewsletter button {
    width: 90px;
    font-size: 0.7rem;
    margin: 2px;
  }
  footer .content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .enterprise__info {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-row-gap: 10px;
    justify-items: center;
  }
  .enterprise__info .copyright {
    width: 100%;
    grid-column: 1/6;
    grid-row: 2/3;
    text-align: center;
  }
  footer ul li a {
    padding: 2px auto !important;
  }
  .networking__sites {
    justify-self: center;
  }



@media screen and (max-width: 560px){
  .nav__container {
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
  }
  .icons a{
    margin: 0px 5px;
  }
  .love__mobile{
    display: none;
  }
}